$breakpoints: (
  mobile: 399px
);

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)){
      @content;
  }
}

/****************** 
* Accordion Sytles
*******************/

.accordion-container {
  position: relative;
  height: auto;
  margin: 0px;
  > h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
}

.set {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  > a {
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    &.active {
      background-color: #3399cc;
      color: #fff;
    }
    i {
      margin-left: auto;
    }
  }
}

.content {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: none;
  margin: 0; 
  padding: 1em;
  p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
  }
}


/**************** 
* Options Styles
*****************/

.erap_custom_field {
  padding: 0 1em;
  display: inline-block; 
  margin-top: 1em;
}

.erap_cf_title {
  margin: 0; 
  display: inline-block;
  @include mobile-only {
      display: block;
  }
}

table.form-table th {
  display: none;
}

.erap_label{
  margin: 1em;
}

/**************** 
* Toggle Styles
*****************/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}

input{
  &:checked + .slider {
    background-color: #2196F3;
    &:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
  &:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
}